* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #E3E3E3;
}

.header{
    background-color: #DEEBF7;
    border: solid #DEEBF7 1px;
    border: outset;
}

.header > img {
    height: 50px;
    vertical-align: middle;
    margin-left: 40px;
    filter: drop-shadow(4px 4px 4px #6e6e79);
    padding-top: 5px;
    padding-bottom: 5px;
}

.header > span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    filter: drop-shadow(4px 4px 4px #6e6e79);
}

.sidebar-body {
    display: flex;
    justify-content: space-around;
    height: 600px;
}

.sidebar{
    border: outset 1px;
    flex: .5;
    background-color: #F2F2F2;
    margin-right: 2px;
    padding-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    padding-top: 20px;
}

.sidebar > ul {
    list-style-type: none;
}

ul > li {
    padding: 10px;
}


.body{
    border: outset 2px;
    flex: 3;
    background-color: #F2F2F2;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

.body > img{
    height: 120px;
}

.footer{
    background-color: #595959;
    color: #FEFEFE;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px 0px;
}